<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charme de Dondoca</title>
</head>
<body class="escopo">
    <header class="header">
        <div class="header-content">
            <img class="header-logo" alt="Logo da empresa" src="../../../assets/logo.jpg">
            <div class="header-text">
                <h1 class="header-title">Bem vindo(a) à Charme de Dondoca</h1>
                <h2 class="header-subtitle">Fique dà vontade para navegar pela landing page da loja!</h2>
            </div>
        </div>
    </header>
    <main class="main">
        <h2 class="main-title">Conheça alguns produtos!</h2>
        <div class="main-content-container">
            <!-- Aqui ficarão os cards -->
            <div class="main-second-content-container">
            <div class="main-container">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/gloss.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Gloss Lip Volumoso</h5>
                      <p class="card-text">Aumenta o lábio deixando uma leve ardência, super em alta nos últims tempos por ter uma fórmula diferente.</p>
                      <!-- Botão para acionar modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo1">
                        Mais detalhes
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="modalExemplo1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Gloss Lip Volumoso</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            Cores: Rosa e Transparente<br>Preço: R$25,00 cada unidade
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                      <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/mascara.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Máscara peel Off de Rosa Mosqueta</h5>
                      <p class="card-text">Ilumina a pele e reduz o envelhecimento precoce. Além disso, remove cravos indesejados, combate rugas, hidrata e ilumina deixando a pele com um viço natural</p>
                      <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
                      <!-- Modal pequeno -->
                    <!-- Botão para acionar modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
                        Mais detalhes
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Máscara peel Off de Rosa Mosqueta</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                  </div>
            </div>
            <!-- Aqui ficarão as redes sociais e o metodo de entrar em contato -->
            <div class="main-second-container">
                <h2 class="main-second-title">Quer entrar em contato?</h2>
                <button type="button" class="btn btn-light">Light</button>
            </div>
            <div class="main-second-container">
                <h2 class="main-second-title">Redes sociais da loja:</h2>
                <button type="button" class="btn btn-light">Light</button>
            </div>
        </div>
        </div>
    </main>
    <footer class="footer"></footer>
</body>
</html>