<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charme de Dondoca</title>
</head>
<body class="escopo">
    <header class="header">
        <div class="header-content">
            <img class="header-logo" alt="Logo da empresa" src="../../../assets/logo.jpg">
            <div class="header-text">
                <h1 class="header-title">Bem vindo(a) à Charme de Dondoca</h1>
                <h2 class="header-subtitle">Fique dà vontade para navegar pela landing page da loja!</h2>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main-content-container">
            <!-- Aqui ficarão os cards -->
            <div class="main-container">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Gloss Lip Volumoso</h5>
                      <p class="card-text">Aumetna o</p>
                      <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Máscara peel Off de Rosa Mosqueta</h5>
                      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                      <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
                  </div>
            </div>
            <!-- Aqui ficarão as redes sociais e o metodo de entrar em contato -->
            <div class="main-container"></div>
        </div>
    </main>
    <footer class="footer"></footer>
</body>
</html>